
.datatable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    

  }
  
  .datatable table {
    width: 100%;
    background-color: #ffffff;
    margin-left: 5%;
    overflow: hidden;
    border-radius: 10px;
    max-width: 90%;
    margin-right: 5%;


    
  }
  
  .datatable th,
  .datatable td {
    padding: 12px 15px;
    text-align: left;
    font-size: 10px;
  }
  
  .datatable th {
    background-color: #343a40;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #dddddd;
  }
  
  .datatable td {
    border-bottom: 1px solid #dddddd;
  }
  
  .datatable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .datatable tbody tr:hover {
    background-color: #f1f1f1;
  }
  