.Option_DDM_Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Option_DDM_Container>button{
    color: white;
    max-width: fit-content;
}
.compact-btn {
    padding: 5px;
    margin: 0;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none; 
    border: none;
    cursor: pointer;
  }
  
  .compact-btn .icon {
    font-size: 16px; 
  }
.three-points{
    padding: 12px 5px 12px 5px !important;
}
.option_h2{
    margin: 19px 19px 0 19px;
    font-size: 16px;
}
.default_view{
    margin: 10px 19px 10px 19px;
    font-weight: 300;
    font-size: 14px;
    background-color: #001D3D;
    color: white;
    border-radius: 3px;
    padding: 4px 10px 4px 30px;
}
.options_header{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 19px 2px 19px;
    
}
.options_header>span{
    color: #848080;
}
.main_options{
    margin: 0 19px 5px 19px;
}
.option_button{
    display: flex;
    justify-content: space-between;
}
.option_button>span{
    color: var(--f_page-header_color) !important;
    font-weight:500;
    font-size: 12px;
}
.options_HL{
    border: none;
    width:  26rem;
    border-top: 0.1rem solid #B9B7B7;
    

}
.dropdown-menu{
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 61%;
    top: 17%;
    z-index: 2;
}

