@font-face {
    font-family: 'Nunito';
    src: url('../../Assets/fonts/Nunito-VariableFont_wght.ttf');
}

.custom-modal-dialog .modal-content{
    border-radius: 18px !important;
    border: 0px;
}
.custom-backdrop{
    background-color: rgba(0, 0, 0, 1) !important;
}
.body{
    min-height: 100px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #d4d4d40a;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
}

.header{
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    /*height: 150px;*/
}
.main-header-title{
    margin-left: 10px;
    color: var(--body_color);
    font-family: 'Nunito';
    font-size: 22px;
}
.header-right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5;
    -webkit-transition: all 0.3s;
}
.header-right-button:hover{
    transition: all 0.25;
    -webkit-transition: all 0.25s;
    transform: scale(1.2) !important;
}
.button-div{
    margin-left: auto;
    margin-right: 5px;
}
.button-close{
    font-size: 20px;
    color: black;
}
.custom-modal-content {
    max-width: 100% !important; /* Ensure the content does not exceed the modal width */
 /* Prevent horizontal overflow */

}
.select-container{
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.select-container>label{
    width: 100%;
    margin: 5px;
    align-self: flex-start;
}
.select-container>select{
    width: 100%;
}


.modal-body-content-flex{
    width: 100%;
    word-wrap: break-word !important;
    word-break: break-all !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.select-parent{
    margin-bottom: 10px;
}
.select-parent label{
    margin-bottom: 3px;
}
.filtrage-select{
    width: 15rem;
}


.btn-parent{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.modal-submit-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    border-radius: 100px;
    border: solid 2px #1b99ee;
    background-color: transparent;
    color: #188cda;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
.modal-submit-btn:hover {
    background-color: #1b99ee;
    color: white;
    box-shadow: 0 0 20px #6fc5ff50;
}
  
.modal-submit-btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(1.02);
}

.modal-body-content-bottom{
    display: flex;
    width: 95%;
}
.div-select-entre{
    width: 33%;
    margin: 10px;
}
.div-select-entre>select{
    height: 100%;
}
.form-floating{
    width: 33%;
    margin: 10px;
}
.div-label{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
}
.select-container2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.div-select-entre2{
    width: 94%;
    margin: 10px;
}