@font-face {
    font-family: 'Nunito';
    src: url('../../Assets/fonts/Nunito-VariableFont_wght.ttf');
}

.custom-modal-dialog .modal-content{
    border-radius: 18px !important;
    border: 0px;
}
.custom-backdrop{
    background-color: rgba(0, 0, 0, 1) !important;
}
.body{
    min-height: 100px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
}

.header{
    border-color: transparent;
    background-color: transparent;
    /*height: 150px;*/
}
.main-header-title{
    font-family: "Lexend", sans-serif;
    font-weight: 900;
    color: var(--body_color);
    font-size: 25px;
}
.header-right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5;
    -webkit-transition: all 0.3s;
}
.header-right-button:hover{
    transition: all 0.25;
    -webkit-transition: all 0.25s;
    transform: scale(1.2) !important;
}

.button-close{
    font-size: 22px;
    font-weight: bold !important;
    color: black;
}
.custom-modal-content {
    max-width: 100% !important; /* Ensure the content does not exceed the modal width */
 /* Prevent horizontal overflow */

}
.select-container{
    font-family: "Manrope", sans-serif;
    width: 45%;
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.lbl{
    font-family: "Manrope", sans-serif;
    margin: 5px;
    align-items: flex-end !important;
    font-weight: 700;
    color: black;
}
.select-container>select{
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
}


.modal-body-content-flex{
    width: 100%;
    word-wrap: break-word !important;
    word-break: break-all !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.select-parent{
    margin-bottom: 10px;
}
.select-parent label{
    margin-bottom: 3px;
}
.filtrage-select{
    width: 15rem;
    padding: 10px;
}


.btn-parent{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.modal-submit-btn {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    border-radius: 100px;
    border: solid 2px #1b99ee;
    background-color: transparent;
    color: #188cda;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
.modal-submit-btn:hover {
    background-color: #1b99ee;
    color: white;
    box-shadow: 0 0 20px #6fc5ff50;
}
  
.modal-submit-btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(1.02);
}

.modal-body-content-bottom{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}
.encaissement-container{
    padding: 10px;
    border: 1.5px #dee2e6 solid;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.reservation-container{
    padding: 10px;
    border: 1.5px #dee2e6 solid;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.stock-container{
    padding: 10px;
    border: 1.5px #dee2e6 solid;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.reservation-container-scon{
    width: 100%;
    word-wrap: break-word !important;
    word-break: break-all !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal-body-content-bottom-container-lbl{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.select-container2-child-label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}
.select-container2-child-label>label{
    font-weight: 600;
}
.div-select-entre{
    flex: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
.div-select-entre>select{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;

}
.modal-body{
    padding-top: 0;
}
.form-floating{
    width: 33%;
    margin: 10px;
}
.div-label{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
}
.div-label>label{
    font-weight: 600;
}
.select-container2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.select-container2-child>label{
    font-weight: 600;
    min-width: fit-content;
}
.select-container2-child{
    display: flex;
    align-items: center;
    margin: 10px;
}
.select-container2-child>select{
    flex: 50%;
    height: 80%;
}
.div-select-entre2{
    width: 100%;
    margin: 10px 0px 10px 0px;
}



.input-field {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    width: 33%;
    margin: 10px;
  }
  
  .input-field label {
    position: absolute;
    color: #dee2e6;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    top: -5px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
  }
  
  .input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #dee2e6;
    letter-spacing: 1px;
    width: 100%;
  }
  
  .input-field input:focus,
  .input-field input:valid {
    outline: none;
    border: solid 1px #dee2e6;
  }
  
  .input-field input:focus ~ label,
  .input-field input:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #8d8d8d;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
  }